#menu {
  color: #ffffff;
  background-color: #b6d2d6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  border-radius: 1em;
  height: 170px;
  padding-right: 40px;
}

#h1 {
  color: #ffffff;
  font-size: 70px;
  font-style: italic;
  font-variant-caps: small-caps;
  font-variation-settings: "wght" 850;
  padding-left: 50px;
  padding-bottom: 19px;
  margin-top: 34px;
}

.menuLinks {
  color: #ffffff;
  display: flex;
  padding-left: 1em;
  font-style: italic;
  font-size: 23px;
}

.menuLinks .selected {
  /* text-decoration: none; */
  text-decoration: underline overline #000000;
  color: black;
  cursor: auto;
}

.menuLinks a {
  padding-right: 0.5em;
  color: #000000;
  text-decoration: underline;
  cursor: pointer;
}

.text-shadow {
  text-shadow: -2px -2px white, -2px 2px #555555, 4px -2px #000000,
    3px 4px #595959;
}

.underline {
  background-size: 1px 1em;
  box-shadow: inset 0 -0.175em white, inset 0 -0.2em #000;
  display: inline;
}

.underline--double {
  box-shadow: inset 0 -0.075em white, inset 0 -0.1em #00001a,
    inset 0 -0.15em white, inset 0 -0.175em #00001a;
}
