#h1 {
  color: #ffffff;
  font-style: italic;
}

.about-us-container {
  background-color: #d5d6d7;
  width: 950px;
  border: 1px solid rgba(0, 0, 0.125);
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  padding-bottom: 450px;
}
