.App {
  text-align: center;
}

#h1-about-us {
  font-size: 50px;
  color: #ffffff;
  font-style: italic;
  font-stretch: wider;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #1788cd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.CreateRequest {
  background-color: #00005b;
  min-height: 100vh;
  color: white;
}

.ShowRequestDetails {
  background-color: #00005b;
  min-height: 100vh;
  color: white;
}

.UpdateRequestInfo {
  background-color: #00005b;
  min-height: 100vh;
  color: white;
}

.ShowRequestList {
  background-color: #00005b;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100px;
  color: white;
}

.list {
  display: grid;
  margin: 20px 0 50px 0;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2em;
  width: 100%;
}

.card-container {
  background-color: #d5d6d7;
  width: 250px;
  border: 1px solid rgba(0, 0, 0.125);
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.desc {
  height: 130px;
  padding: 10px;
}

.desc h2 {
  font-size: 1em;
  font-weight: 400;
}

.desc h3,
p {
  font-weight: 300;
}

.desc h3 {
  color: #6c757d;
  font-size: 1em;
  padding: 10px 0 10px 0;
}

.request-img {
  border: 1px solid rgba(0, 0, 0.125);
  width: 250px;
  height: 250px;
  background-size: cover;
}
